/*
---------------------
STYLE GUIDE
--------------------
0. RESET
1. LAYOUT
2. GENERIC ITEM
3. PARTS OF WEB
4. LIST 
5. FORM
6. ANIMATIONS
--------------------
COLORS
--------------------
AZUL NAVBAR -> #0065a5
*/

/* -------- 0. RESET  --------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- 1. lAYOUT  --------*/
	body{text-align: center;}
footer{
	background: #0065a5;
	color: #fff;
}
nav{
	background:#0065a5; 
}
	nav-item {
		text-align: right;
		align-content: right;
		align-items: right;

	}
h3{
	color: #0065a5;
}

/* -------- 2. GENERIC ITEM  --------*/
.header_img{
	background: url(imgs/header_img.png) no-repeat center top;
	background-size: cover;
	height: 551px;
}
nav ul li a{
	color: #fff;
}
.general_services{
	align-content: center;
	justify-content: center;
	align-items: center;
}
.about_us{
	background:  #0065a5 ;
	color: #fff;

}
.quote {
	background:  #0065a5 ;
	color: #fff;
}
.contact{
	align-items: right;
}

/* -------- 3. PART OF WEB  --------*/
.about_us h1{
	color: #fff;
}
/* -------- 4. LIST  --------*/
/* -------- 5. FORM  --------*/
/* -------- 6. ANIMATIONS  --------*/
