/*
---------------------
STYLE GUIDE
--------------------
0. RESET
1. LAYOUT
2. GENERIC ITEM
3. PARTS OF WEB
4. LIST 
5. FORM
6. ANIMATIONS
--------------------
COLORS
--------------------
AZUL NAVBAR -> #0065a5
*/

/* -------- 0. RESET  --------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   , blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, 
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }

   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
   .icons{
   	margin-left: auto;
   }
   .icons i{
   	max-height: 45px;
   	max-width:45px;
   	padding-left: 10px;
   	margin-left: auto;
   }
.service1 .service2{
	margin: 25px;
	padding: 0px;
}
.service3{
	padding: 0px;
	margin: 0px;
}
   /* -------- 1. lAYOUT  --------*/
   body{text-align: center;}
   footer{
   	background: #0065a5;
   	color: #fff;
   }
   nav{
   	background:#0065a5; 
   	max-height: 75px;
   	vertical-align: middle;
   }
   nav-item {
   	text-align: right;
   	align-content: right;
   	align-items: right;

   }
   h3{
   	color: #;
   }
   .header{
   	max-height: 175px;
   	vertical-align: middle;
   }
   .contact{
   	text-align: right;
   	padding-right: 52px;
   	margin-top: 35px;
   	padding-bottom: 35px;
   }
   .phone-number{
   	font-size: 32px;
   	font-weight: bold;
   	font-height: 0.2cm;

   }
   .phone-number i{
   	color: #0065a5;
   }
   .contact h1{
   	font-weight: bold;
   	line-height: 16px;

   }
   .contact h1 i{
   	color: #0065a5; 
   }
   .slogan{
   	font-style: italic;
   	font-size: 22px;

   }

   /* -------- 2. GENERIC ITEM  --------*/
   .header_img{
   	background: url(imgs/header_img.png) no-repeat center top;
   	background-size: cover;
   	height: 551px;
   }
   nav ul li a{
   	color: #fff;
   }
   section{
   	padding-top: 68px;
   	padding-bottom: 68px;
   }
   footer{
   	max-height:  60px;
   	vertical-align: middle;
   }
   .general_services{
   	align-content: center;
   	justify-content: center;
   	align-items: center;
   	margin-left: auto;

   }
   .general_services h2{
   	padding-bottom: 60px;
   }
   .general_services figure{
   	margin: 30px;
   }
   .about_us{

   	background:  #0065a5 ;
   	color: #fff;

   }
   .quote {
   	background:  #0065a5 ;
   	color: #fff;
   }
   .contact{
   	align-items: right;
   }
   .form-quote{
   	max-width: 525px;
   	background: #67a3c8;
   	border-radius: 5px;
   	box-shadow: 4px 5px 11px 4px #004e7f;
   	padding: 52px 25px 52px 25px;
   	margin-right: auto;
   	margin-left: auto;

   	} .form-quote button{         
   		box-shadow: 4px 5px 11px 4px #335062;
   		font-weight: bold; 
   		max-width: 335px; 
   		background: #0065a5;
   		border-color: #0065a5;
   		align-content: center;
   	} 
   	.form-quote .form-control{
   		max-width: 420px;
   		margin-right: auto;
   		margin-left: auto;
   		margin-bottom: 19px;

   	}

   	/* -------- 3. PART OF WEB  --------*/
   	.about_us h1{
   		color: #fff;
   	}
   	/* -------- 4. LIST  --------*/
   	/* -------- 5. FORM  --------*/
   	/* -------- 6. ANIMATIONS  --------*/
